{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div class="container-fluid content-below-navbar" style="margin-top: 72px; padding-top: 2rem;">
    <div class="row">
      <div class="col-lg-6 left-content">
        <div class="content-bn container">
          {% if user.is_authenticated %}
           <h1> Welcome <strong>{{ user.username }}</strong>!</h1>
          {% else %}
            Welcome!
          {% endif %}
        </div>
        <div class="container" style="margin-top: 1.5rem;"><h4 style="width: 30rem;">eBay-like e-commerce auction site that will allow you to post auction listings, place bids on listings, comment on those listings, and add listings to a “watchlist”. For more details <a class="cs50" href="https://cs50.harvard.edu/web/2020/projects/2/commerce/">click here!</a></h4></div>
      </div>
      <div class="col-lg-6 img container" >              
           <div class="container-fluid imgborder">
            <div class="backgroundone"></div>
            <div class="backgroundtwo"></div>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2750">
                  <img src="/media/images/{{ first }}" class="d-block w-100" alt="item image">
                </div>
                {% for image in images %}
                  <div class="carousel-item" data-bs-interval="2750">
                    <img src="/media/images/{{ image }}" class="d-block w-100" alt="item image">
                  </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </div>           
      </div>
    </div>
  </div>

  <div class="dropdown container-fluid">
    <button class="btn btn-light  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <strong>Category</strong>
    </button>
    <ul class="dropdown-menu dropdown-menu-end dropdown-category" aria-labelledby="dropdownMenuButton1">
      {% for category in categories %}
    <li><a class="dropdown-item" href="{% url 'viewCategory' category.category %}">{{category}}</a></li>
      {% endfor %}
    </ul>
  </div>

 <div class="container-fluid">
   <div class="row">
    {% for auction in auctions %}
     <div class="card col-lg-4 col-md-6" style="text-align: center;">
      
        <div class="card-body">
          <h5 class="card-title item-title" style="margin-bottom: 1.25rem;"><strong>{{auction.title}}</strong></h5>
          <h6 class="card-title"style="margin-bottom: 1rem;">Category: {{auction.category}}</h6>
          {% if auction.image %}
          <img class="img-fluid" src="{{auction.image.url}}" alt="item image" style="max-height: 300px;">
        {% else %}
          <img class="img-fluid" src="{% static 'auctions/no_image.svg' %}" alt="item image" style="height: 300px; width: 60%;">
        {% endif %}
        </div>
      <ul class="list-group list-group-flush">
        {% if auction.latest_bid %}
          {% if auction.close == True %}
            <li class="list-group-item currentbid item-sold">Sold for: ${{auction.latest_bid.bid|floatformat:2}}</li>
          {% else %}
            <li class="list-group-item currentbid">Current Bid: ${{auction.latest_bid.bid|floatformat:2}}</li>
          {% endif %}
        {% else %}
          <li class="list-group-item currentbid">Opening Bid: ${{auction.starting_bid|floatformat:2}}</li>
        {% endif %}
      </ul>
      <div class="card-body">
        <a href="{% url 'viewAuction' auction.id %}" class="card-link btn btn-listing shadow-none">Listing</a>
        <div class="card-footer text-muted">{{auction.dateOfListing}}</div>
      </div>
     </div>
     {% endfor %}
   </div>
 </div>

 <hr>
{% endblock %}