{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    </head>
    <body>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light" id="idnav" style="padding: 0px;">
          <div class="container-fluid">
                
            <div id="navauctions"><a href="{% url 'index' %}">Auctions</a></div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active navlisting" aria-current="page" href="{% url 'newlisting' %}" style="margin-right: 1rem;">New Listing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active navlisting" aria-current="page" href="{% url 'myListing' %}">My Listing</a>
                </li>
              </ul>
              <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link active navlisting navlogin" aria-current="page" href="{% url 'logout' %}"  style="margin-right: 1rem;">Log Out</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link active navlisting navlogin" aria-current="page" href="{% url 'login' %}"  style="margin-right: 1rem; padding: 0 0.5rem;">Log In</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active navlisting navlogin" aria-current="page" href="{% url 'register' %}" style="margin-right: 1rem; padding: 0 0.5rem;">Sign In</a>
                    </li>
                  {% endif %}
                  <li class="nav-item" style="position: relative;">
                    <a class="nav-link active navlisting navlogin" aria-current="page" href="{% url 'viewWatchlist' %}" style="margin-right: 1rem; padding: 0 0.5rem; ">
                      <i class="bi bi-bookmarks-fill" style="overflow: visible;"></i>
                      {% if request.user.is_authenticated %}
                        <div class="watchlist-count">{{ watchlistno }}</div>
                      {% endif %}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div id="bookmrk"></div>
        <a href="#bookmrk">
          <div class="sign"><i class="bi bi-chevron-double-up"></i></div>
        </a>
        
        {% block body %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'auctions/main.js' %}"></script>
</body>
</html>
