{% extends "auctions/layout.html" %}

{% block body %}

    <div class="loginModal">
        <div class="loginframe">
            <a class="close" href="{% url 'index' %}">&times;</a>
            <div class="loginheading"><h2>Log In </h2></div>

            <div class="loginContent">
                {% if message %}
                    <div class="logincentre loginerror">{{ message }}</div>
                {% endif %}

                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <p>
                        <div class="forminput_login">
                            <input autofocus type="text" name="username" placeholder="Username" required>
                        </div>
                    </p>
                    <p>
                        <div class="forminput_login">
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                    </p>
                    <p>
                        <div class="logincentre">
                            <input class="loginsubmit_btn" type="submit" value="LogIn">
                        </div>
                    </p>
                </form>
            </div>
            <div>
                <a href="{% url 'register' %}">Don't have an account?!</a>
            </div>
        </div>
    </div>
        

    <h2>Login</h2>

{% endblock %}