{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

<div class="container">
    <div class="formborder">
    <div class="listingFormheading"><h2>New Listing</h2></div>
    <form id="addCategoryForm">
        {% csrf_token %}
        <p class="formblock">
            <label class="labelform" >Add Category:</label>
            <input class="listingformInput" type="text" id="newCategory" style="margin-right: 1rem;">
            <input type="submit" value="Add">
        </p>
    </form>
    <p><div id="message"></div></p>
    
    <form action="{% url 'newlisting' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <p class="formblock">
                <label class="labelform">{{ field.label }}:</label>
                {{ field }}
            </p>
        {% endfor %}
        <input type="submit" value="Create" style="margin-top: 1rem;">    
    </form>
    </div>
</div>

{% endblock %}